:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0; */
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
router-link {
  text-decoration: none;
  color: white;
}
.icon-color {
  color: #ffffff;
}
.avatar{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px !important;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.avatar-detail{
  width: 100px !important;
  height: 100px !important;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;
  border-radius: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-radius {
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.material-symbols-outlined {
  font-size: 20px !important;

}
hr{
  border: 1px solid black !important;
}
.contact-card{
  max-width: 600px !important;
}
.card-body-left{
  text-align: left;
}
.bg-primary{
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;
  border: none !important;
}
.btn-view{
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) !important;
  border: none !important;
}
.btn-edit{
  background: #26A69A !important;
  border: none !important;

}
.btn-delete{
  background: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%) !important;
  border: none !important;
}
.toast-div{
  position:  relative !important;
  display: flex;
  justify-content: center;
}
.toast{
  position: absolute !important;
  background: white;
  transform: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
